body {
    font-family: sans-serif;
}
h1{ text-align: center; color: #FAAB01;text-decoration:overline	;
font-family: Brush Script MT, Brush Script Std, cursive;}
img{width: 25x;height: 25px;}
.crosota{ color: #E48716;text-align: left;}
